In [38]:
person = {
    'first': 'Jose Edmar',
    'last': 'Siqueira',
    'email': 'edmar.ade@gmail.com'
}

In [39]:
people ={
    'first': 'Jose Edmar',
    'last': 'Siqueira',
    'email': 'edmar.ade@gmail.com'
}

In [40]:
people = {
    'first': ['Jose Edmar','Lucas', 'Adeguimar'],
    'last': ['Siqueira', 'Siqueira', 'Lacerda'],
    'email': ['edmar.ade@gmail.com', 'lucas@hotmail.com','adeguimar@gmail.com']
}

In [41]:
people['email']

['edmar.ade@gmail.com', 'lucas@hotmail.com', 'adeguimar@gmail.com']

In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame(people)

In [44]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com

In [45]:
df['email']

0    edmar.ade@gmail.com
1      lucas@hotmail.com
2    adeguimar@gmail.com
Name: email, dtype: object

In [46]:
# Verificar o tipo de dados em pandas, que é uma series
type(df['email'])

pandas.core.series.Series

In [47]:
df.email

0    edmar.ade@gmail.com
1      lucas@hotmail.com
2    adeguimar@gmail.com
Name: email, dtype: object

In [49]:
# Retorna várias colunas
df[['first', 'email']]

        first                email
0  Jose Edmar  edmar.ade@gmail.com
1       Lucas    lucas@hotmail.com
2   Adeguimar  adeguimar@gmail.com

In [50]:
# verificas os nomes da column
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [62]:
# realizar busca por indice com iloc
df.iloc[0]

first             Jose Edmar
last                Siqueira
email    edmar.ade@gmail.com
Name: 0, dtype: object

In [63]:
# Filtrar mais de uma coluna com iloc, para isso devemos passar uma lista
df.iloc[[0, 1]]

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com

In [64]:
# filtra na lista somente o e-mail, para isso devemos passar o indice da coluna para iloc
df.iloc[[0,1], 2]

0    edmar.ade@gmail.com
1      lucas@hotmail.com
Name: email, dtype: object

In [65]:
# podemos realizar a busca por indece com rotulos para isso usando loc, nesse caso não vai fazer diferença por que os indice que temos são todos númericos
df.loc[0]

first             Jose Edmar
last                Siqueira
email    edmar.ade@gmail.com
Name: 0, dtype: object

In [69]:
df.loc[[0,2]]

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com

In [70]:
# podemos filtra por nome das colunas agora
df.loc[[0,1], 'email']

0    edmar.ade@gmail.com
1      lucas@hotmail.com
Name: email, dtype: object

In [71]:
# podemos filtrar por varias colunas
df.loc[[0,1], ['email', 'last']]

                 email      last
0  edmar.ade@gmail.com  Siqueira
1    lucas@hotmail.com  Siqueira