In [1]:
import pandas as pd

In [11]:
people = {
    'first': ['Jose Edmar','Lucas', 'Adeguimar', 'Adan'],
    'last': ['Siqueira', 'Siqueira', 'Lacerda', 'Siqueira'],
    'email': ['edmar.ade@gmail.com', 'lucas@hotmail.com','adeguimar@gmail.com', 'a@gmail.com']
}

In [12]:
df = pd.DataFrame(people)

In [13]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com
3        Adan  Siqueira          a@gmail.com

In [14]:
# a primeira coisa Ã© escolher o que vai ser classificado, no exemplo vou usar o last name
df.sort_values(by='last')

        first      last                email
2   Adeguimar   Lacerda  adeguimar@gmail.com
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
3        Adan  Siqueira          a@gmail.com

In [15]:
#para classificar em ordem decrescente devemos usar o parametro ascending=False
df.sort_values(by='last', ascending=False)

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
3        Adan  Siqueira          a@gmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com

In [16]:
#classificar por mais de uma colunas devemos passar um lista
df.sort_values(by=['first', 'last'], ascending=False)

        first      last                email
1       Lucas  Siqueira    lucas@hotmail.com
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com
3        Adan  Siqueira          a@gmail.com

In [21]:
#classificar mais de uma coluna
df.sort_values(by=['first', 'last'], ascending=[True, False], inplace=True)

In [22]:
df

        first      last                email
3        Adan  Siqueira          a@gmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com

In [25]:
#agora se quiser-mos voltar como estava antes classificado por index demovemor ordenar novamente por index
df.sort_index(inplace=True)

In [26]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com
3        Adan  Siqueira          a@gmail.com

In [27]:
#podemos classificar somente uma coluna 
df['first'].sort_values()

3          Adan
2     Adeguimar
0    Jose Edmar
1         Lucas
Name: first, dtype: object