In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Jose Edmar','Lucas', 'Adeguimar'],
    'last': ['Siqueira', 'Siqueira', 'Lacerda'],
    'email': ['edmar.ade@gmail.com', 'lucas@hotmail.com','adeguimar@gmail.com']
}

In [3]:
df = pd.DataFrame(people)

In [11]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar  Siqueira  adeguimar@gmail.com

In [21]:
df.loc[2, 'last'] = 'Lacerda'

In [22]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com

In [23]:
df['last'] == 'Lacerda'

0    False
1    False
2     True
Name: last, dtype: bool

In [28]:
#criando Filtro
filt = (df['last'] == 'Lacerda')

In [29]:
filt

0    False
1    False
2     True
Name: last, dtype: bool

In [27]:
#usando o filtro, vai mostra todos os filtros que retornarem como verdadeiro
df[filt]

       first     last                email
2  Adeguimar  Lacerda  adeguimar@gmail.com

In [31]:
#Podemos passar o Filtro para loc e o resultado ser√° o mesmo
df.loc[filt, 'email']

2    adeguimar@gmail.com
Name: email, dtype: object

In [ ]:
#usando