In [1]:
import pandas as pd

In [3]:
people = {
    'first': ['Jose Edmar','Lucas', 'Adeguimar'],
    'last': ['Siqueira', 'Siqueira', 'Lacerda'],
    'email': ['edmar.ade@gmail.com', 'lucas@hotmail.com','adeguimar@gmail.com']
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

        first      last                email
0  Jose Edmar  Siqueira  edmar.ade@gmail.com
1       Lucas  Siqueira    lucas@hotmail.com
2   Adeguimar   Lacerda  adeguimar@gmail.com

In [6]:
df['email']

0    edmar.ade@gmail.com
1      lucas@hotmail.com
2    adeguimar@gmail.com
Name: email, dtype: object

In [13]:
#mudar o indice para ser o campo email
df.set_index('email', inplace=True)

In [14]:
df

                          first      last
email
edmar.ade@gmail.com  Jose Edmar  Siqueira
lucas@hotmail.com         Lucas  Siqueira
adeguimar@gmail.com   Adeguimar   Lacerda

In [16]:
#verificar os index
df.index

Index(['edmar.ade@gmail.com', 'lucas@hotmail.com', 'adeguimar@gmail.com'], dtype='object', name='email')

In [17]:
df.loc['edmar.ade@gmail.com']

first    Jose Edmar
last       Siqueira
Name: edmar.ade@gmail.com, dtype: object

In [18]:
df.loc['edmar.ade@gmail.com', 'last']

'Siqueira'

In [28]:
#mudamos o index para loc porém o index numérico não foi alterado para iloc
df.iloc[0]

first    Jose Edmar
last       Siqueira
Name: edmar.ade@gmail.com, dtype: object

In [29]:
#reset index
df.reset_index(inplace=True)

In [30]:
df

                 email       first      last
0  edmar.ade@gmail.com  Jose Edmar  Siqueira
1    lucas@hotmail.com       Lucas  Siqueira
2  adeguimar@gmail.com   Adeguimar   Lacerda